body{
    background-color:whitesmoke;
    color:black;
    line-height:1.6em;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

#main-header{
    background-color:peachpuff;
    color:black;
    padding:10px;
    width:100%;
}

h1{
    text-align:center;
    font-style:italic;

}

h2{
    margin-left:20px;
    background-color:pink;
    width:100%;
    padding:10px;
    margin:0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	padding:20px
}

.weave-item img {
  width: 90%;
  height: 250px;
  object-fit: cover; /* crops neatly */
  border-radius: 6px;
}


.accessory-item img {
  width: 90%;
  height: 250px;
  object-fit: cover; /* crops neatly */
  border-radius: 6px;
}


.price {
    margin-top:1px;
    text-align:justify;
    font-weight:bold; 
}

.price-row {
  display: flex;                  /* make price + button sit in one line */
  justify-content: space-between; /* push them apart (price left, button right) */
  align-items: center;            /* keep them aligned vertically */
  max-width: 200px;               /* match your image width */
}

.interested-button {
    display:inline-block;
    padding:3px 3px;
    background:black;
    color:white;
    border-radius:5px;
    text-decoration:none;
    margin-top:0px;
    text-align:justify;
    justify-content:space-evenly;
}

.contact-btn img {
  position: fixed;
  bottom: 40px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 1000;
  transition: bottom 0.3s ease;
}


.interested-button:hover{
	background:pink;
}

#products-section {
  width:80%;
  margin-left:10%;
  margin-top:20px;
}

.site-footer {
  display: flex;
  padding: 30px;
  align-items:center;
  justify-content:space-between;
  background-color: #D58A94;
  color: #555;
  margin-top: 5px;
  border-top: 1px solid #ddd;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #fff;
  font-size: 28px;
  text-decoration: none;
}

.fa-facebook:hover { color: #1877F2; }
.fa-whatsapp:hover { color: #25D366; }
.fa-instagram:hover { color: #E1306C; }


@media(max-width:768px) {
	product-grid{
		grid-template-columns:repeat(2, 1fr);
	}
}


  






